# Configurações de Banco de Dados MSSQL
DB_PORT=1433
MSSQL_SA_PASSWORD=Password123!

# Connection string informations
DB_HOST=database
DATABASE_NAME=criacerto_foundation

# Configurações de Redis Cache
REDIS_PORT=6379

# Configurações de Autenticação JWT
JWT_SECRET=CriaCertoProductionSecureJwtKey2026!32Bytes

# Porta dos Serviços Containerizados
API_PORT=8080
WEB_PORT=8081
